<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae521f55-e57d-4f60-89a5-a357619a295a" Alias="Aaron.svg" Level="3">
  <Info>
    <Parent Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb">Members Thumbnails</Parent>
    <Path>/AboutUs/MembersThumbnails/Aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T16:21:30</CreateDate>
    <NodeName Default="Aaron.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u4rpatdg/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>