<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a96a18d-9b89-4996-8e25-8787c2a32256" Alias="About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T16:21:03</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>