<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3c18070-8569-4d0f-962a-8dba1ad0bd17" Alias="aside-image.svg" Level="3">
  <Info>
    <Parent Key="e40a8f9e-b064-4db0-ba8a-efc6d97ec5a4">Other Images</Parent>
    <Path>/Services/OtherImages/asideImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:52:38</CreateDate>
    <NodeName Default="aside-image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qi4hgils/aside-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>