<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4e5f3b9-d958-4ba0-93f9-35540b70eb68" Alias="Audit.svg" Level="3">
  <Info>
    <Parent Key="61d374a7-2e70-4ee3-986e-4cfcc4e69dee">Thumbnails</Parent>
    <Path>/Services/Thumbnails/Auditsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:37</CreateDate>
    <NodeName Default="Audit.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jnheojsd/audit.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>