<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ca37d9d-262d-4727-9e80-79c7622ac1ac" Alias="Bonds.svg" Level="3">
  <Info>
    <Parent Key="61d374a7-2e70-4ee3-986e-4cfcc4e69dee">Thumbnails</Parent>
    <Path>/Services/Thumbnails/Bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:38</CreateDate>
    <NodeName Default="Bonds.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n5aad5rw/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>