<?xml version="1.0" encoding="utf-8"?>
<Media Key="d26cf260-d712-448e-8db1-cb7963fa5f9b" Alias="Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T14:47:07</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>