<?xml version="1.0" encoding="utf-8"?>
<Media Key="98438b1f-3a44-437f-b244-e7ab5f81f568" Alias="Brandon-K.svg" Level="3">
  <Info>
    <Parent Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb">Members Thumbnails</Parent>
    <Path>/AboutUs/MembersThumbnails/BrandonKsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T16:21:31</CreateDate>
    <NodeName Default="Brandon-K.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3u1oc4s5/brandon-k.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>