<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f6b2527-acf0-454f-b2df-510e6021a729" Alias="Brandon-n.svg" Level="3">
  <Info>
    <Parent Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb">Members Thumbnails</Parent>
    <Path>/AboutUs/MembersThumbnails/BrandonNsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T16:21:31</CreateDate>
    <NodeName Default="Brandon-n.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0wmmthpl/brandon-n.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>