<?xml version="1.0" encoding="utf-8"?>
<Media Key="70855427-a53e-419c-903a-b5531a70fa3a" Alias="FossilGroup.svg" Level="2">
  <Info>
    <Parent Key="d26cf260-d712-448e-8db1-cb7963fa5f9b">Brands</Parent>
    <Path>/Brands/FossilGroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T14:47:16</CreateDate>
    <NodeName Default="FossilGroup.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xudperf/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>