<?xml version="1.0" encoding="utf-8"?>
<Media Key="78ebe1e0-ceb1-4e77-8ba3-7052929c0971" Alias="Globe.svg" Level="2">
  <Info>
    <Parent Key="d26cf260-d712-448e-8db1-cb7963fa5f9b">Brands</Parent>
    <Path>/Brands/Globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T14:47:17</CreateDate>
    <NodeName Default="Globe.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cjoetgvk/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>