<?xml version="1.0" encoding="utf-8"?>
<Media Key="77591c7e-01a8-4233-87b7-954eac92e4b8" Alias="Hero.svg" Level="2">
  <Info>
    <Parent Key="5f615165-9d6d-43e5-8b53-fd453400a355">Home Page</Parent>
    <Path>/HomePage/Herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T11:43:37</CreateDate>
    <NodeName Default="Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rsqpxfnt/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>