<?xml version="1.0" encoding="utf-8"?>
<Media Key="2459209c-88d0-4b2e-8f8c-11eff5c45266" Alias="Identity.svg" Level="2">
  <Info>
    <Parent Key="d26cf260-d712-448e-8db1-cb7963fa5f9b">Brands</Parent>
    <Path>/Brands/Identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T14:47:17</CreateDate>
    <NodeName Default="Identity.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n0opxrwl/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>