<?xml version="1.0" encoding="utf-8"?>
<Media Key="b144ad08-6088-46fc-9199-c9e0f46e859c" Alias="InfoImage2.svg" Level="3">
  <Info>
    <Parent Key="bab924f5-6560-4a28-bc45-bc162f99c601">Main Images</Parent>
    <Path>/Services/MainImages/InfoImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T14:59:51</CreateDate>
    <NodeName Default="InfoImage2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5iiomu2t/infoimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>