<?xml version="1.0" encoding="utf-8"?>
<Media Key="17a5340d-ea9b-45cf-930c-200214f11c67" Alias="InfoImage1.svg" Level="3">
  <Info>
    <Parent Key="bab924f5-6560-4a28-bc45-bc162f99c601">Main Images</Parent>
    <Path>/Services/MainImages/InfoImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T14:59:50</CreateDate>
    <NodeName Default="InfoImage1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/54ebp3ma/infoimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>