<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b980568-2f1e-4c15-ae8d-15e902744a03" Alias="Kevin-Gardner 1.svg" Level="3">
  <Info>
    <Parent Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb">Members Thumbnails</Parent>
    <Path>/AboutUs/MembersThumbnails/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T16:21:32</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tk2du0if/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>