<?xml version="1.0" encoding="utf-8"?>
<Media Key="b69bebe8-a157-47bd-a4eb-df6f48e26c3b" Alias="kevin-gardner big.svg" Level="3">
  <Info>
    <Parent Key="566b0c0b-f417-4ca9-9f98-80ae86896df2">Other About Images</Parent>
    <Path>/AboutUs/OtherAboutImages/kevinGardnerBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T16:09:21</CreateDate>
    <NodeName Default="kevin-gardner big.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/djldsvcm/kevin-gardner-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>