<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd5a98c4-f297-4181-87d7-34cd7dc056ab" Alias="Logo.svg" Level="2">
  <Info>
    <Parent Key="1f5dcc22-e66f-4aa3-8450-062757136ab4">Site Settings</Parent>
    <Path>/SiteSettings/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:58:25</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gyspqh2m/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>