<?xml version="1.0" encoding="utf-8"?>
<Media Key="bab924f5-6560-4a28-bc45-bc162f99c601" Alias="Main Images" Level="2">
  <Info>
    <Parent Key="84f4e205-57a1-4c46-8a38-64bda00a5c7f">Services</Parent>
    <Path>/Services/MainImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T14:59:23</CreateDate>
    <NodeName Default="Main Images" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>