<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e0e36d6-66b2-43ad-9ded-0bb2f2cfba06" Alias="map 1.svg" Level="2">
  <Info>
    <Parent Key="001579df-5926-43cc-8cf9-392b5fccd306">Contact</Parent>
    <Path>/Contact/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T10:49:02</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/esflztfj/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>