<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb" Alias="Members Thumbnails" Level="2">
  <Info>
    <Parent Key="1a96a18d-9b89-4996-8e25-8787c2a32256">About Us</Parent>
    <Path>/AboutUs/MembersThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T16:21:20</CreateDate>
    <NodeName Default="Members Thumbnails" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>