<?xml version="1.0" encoding="utf-8"?>
<Media Key="9245503b-ad4a-4ef8-b6d3-ce2463d089c6" Alias="Miranda.svg" Level="3">
  <Info>
    <Parent Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb">Members Thumbnails</Parent>
    <Path>/AboutUs/MembersThumbnails/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T16:21:33</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zhwpo2cr/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>