<?xml version="1.0" encoding="utf-8"?>
<Media Key="390d85d3-8e90-43c1-aa2e-cdc3147118e8" Alias="MoneyAdvisor.svg" Level="3">
  <Info>
    <Parent Key="61d374a7-2e70-4ee3-986e-4cfcc4e69dee">Thumbnails</Parent>
    <Path>/Services/Thumbnails/MoneyAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:39</CreateDate>
    <NodeName Default="MoneyAdvisor.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ee2k5w2l/moneyadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>