<?xml version="1.0" encoding="utf-8"?>
<Media Key="e40a8f9e-b064-4db0-ba8a-efc6d97ec5a4" Alias="Other Images" Level="2">
  <Info>
    <Parent Key="84f4e205-57a1-4c46-8a38-64bda00a5c7f">Services</Parent>
    <Path>/Services/OtherImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T15:52:04</CreateDate>
    <NodeName Default="Other Images" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>