<?xml version="1.0" encoding="utf-8"?>
<Media Key="566b0c0b-f417-4ca9-9f98-80ae86896df2" Alias="Other About Images" Level="2">
  <Info>
    <Parent Key="1a96a18d-9b89-4996-8e25-8787c2a32256">About Us</Parent>
    <Path>/AboutUs/OtherAboutImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T16:09:14</CreateDate>
    <NodeName Default="Other About Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>