<?xml version="1.0" encoding="utf-8"?>
<Media Key="310ddbfe-f5dc-4db5-917e-a078cec571bf" Alias="RiskManagement.svg" Level="2">
  <Info>
    <Parent Key="84f4e205-57a1-4c46-8a38-64bda00a5c7f">Services</Parent>
    <Path>/Services/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:40</CreateDate>
    <NodeName Default="RiskManagement.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brtk5u4h/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>