<?xml version="1.0" encoding="utf-8"?>
<Media Key="310ddbfe-f5dc-4db5-917e-a078cec571bf" Alias="RiskManagement.svg" Level="3">
  <Info>
    <Parent Key="61d374a7-2e70-4ee3-986e-4cfcc4e69dee">Thumbnails</Parent>
    <Path>/Services/Thumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:40</CreateDate>
    <NodeName Default="RiskManagement.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brtk5u4h/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>