<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f5dcc22-e66f-4aa3-8450-062757136ab4" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T11:57:51</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>