<?xml version="1.0" encoding="utf-8"?>
<Media Key="4915689b-000b-4091-addc-a0799bcac9e0" Alias="StatAdvisor.svg" Level="3">
  <Info>
    <Parent Key="61d374a7-2e70-4ee3-986e-4cfcc4e69dee">Thumbnails</Parent>
    <Path>/Services/Thumbnails/StatAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:40</CreateDate>
    <NodeName Default="StatAdvisor.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhklpkyq/statadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>