<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cf983ea-2ef2-4f7d-8f67-49254a50a7f8" Alias="Success.svg" Level="2">
  <Info>
    <Parent Key="5f615165-9d6d-43e5-8b53-fd453400a355">Home Page</Parent>
    <Path>/HomePage/Successsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:20:07</CreateDate>
    <NodeName Default="Success.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/da5fxpxj/success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>