<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa770a5c-5679-4872-af84-3fd9cfb72866" Alias="Tax.svg" Level="3">
  <Info>
    <Parent Key="61d374a7-2e70-4ee3-986e-4cfcc4e69dee">Thumbnails</Parent>
    <Path>/Services/Thumbnails/Taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:41</CreateDate>
    <NodeName Default="Tax.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v01nksdc/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>