<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa770a5c-5679-4872-af84-3fd9cfb72866" Alias="Tax.svg" Level="2">
  <Info>
    <Parent Key="84f4e205-57a1-4c46-8a38-64bda00a5c7f">Services</Parent>
    <Path>/Services/Taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:01:41</CreateDate>
    <NodeName Default="Tax.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v01nksdc/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>