<?xml version="1.0" encoding="utf-8"?>
<Media Key="61d374a7-2e70-4ee3-986e-4cfcc4e69dee" Alias="Thumbnails" Level="2">
  <Info>
    <Parent Key="84f4e205-57a1-4c46-8a38-64bda00a5c7f">Services</Parent>
    <Path>/Services/Thumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T14:59:05</CreateDate>
    <NodeName Default="Thumbnails" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>