<?xml version="1.0" encoding="utf-8"?>
<Media Key="48079dee-25eb-40d0-91ab-ca7e6011050e" Alias="Tina-big.svg" Level="3">
  <Info>
    <Parent Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb">Members Thumbnails</Parent>
    <Path>/AboutUs/MembersThumbnails/TinaBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:52:22</CreateDate>
    <NodeName Default="Tina-big.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dqqklkxq/tina-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>