<?xml version="1.0" encoding="utf-8"?>
<Media Key="9794a04c-b351-4d38-9532-583bec745e86" Alias="Tina Signature.svg" Level="3">
  <Info>
    <Parent Key="1b7484fb-9f34-4b6b-9a17-0e0219cb9aeb">Members Thumbnails</Parent>
    <Path>/AboutUs/MembersThumbnails/TinaSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:32:18</CreateDate>
    <NodeName Default="Tina Signature.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xyodm3kk/tina-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>