<?xml version="1.0" encoding="utf-8"?>
<Media Key="26f27495-7882-45eb-aa7d-8bcdec33c23e" Alias="Trusted.svg" Level="2">
  <Info>
    <Parent Key="5f615165-9d6d-43e5-8b53-fd453400a355">Home Page</Parent>
    <Path>/HomePage/Trustedsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:21:03</CreateDate>
    <NodeName Default="Trusted.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m5efbrez/trusted.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>