<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5476e0cd-0277-47a1-94d8-f27447814fd4" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c06ad404-c166-4849-9ca2-2d8ac87a1a26">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ee2d518a-f44d-432f-85b8-62c02c30c44e" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="7e630d07-a616-4418-91e6-5c4e9e3e654d" SortOrder="1">contactPage</ContentType>
    <ContentType Key="9b152e3f-2494-489c-b43c-b6ba279a3fb9" SortOrder="2">servicePage</ContentType>
    <ContentType Key="6fd56eb9-9e83-4be6-9d9f-bf2ed8cc69be" SortOrder="3">projectsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>65f79842-eb64-44f9-b403-ed9abb287f91</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>2a9c1fa2-5f9c-415a-86dd-e535203f3a97</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27d3f731-72d9-4d4d-a8f8-2b41d811e601</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>