<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc24ba72-f4d6-4e48-a831-64f3b517f24a" Alias="2025-10-31 12:58 - Harry Holmes" Level="102">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/[-20]/FormSubmissions/HarryHolmes</Path>
    <Trashed Parent="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T12:58:44</CreateDate>
    <NodeName Default="2025-10-31 12:58 - Harry Holmes" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Harry@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Harry Holmes]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>