<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb63357f-2976-423d-a669-93ee32efcf06" Alias="2025-11-06 11:40 - Contact test" Level="2">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactTest</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T11:40:58</CreateDate>
    <NodeName Default="2025-11-06 11:40 - Contact test" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Contact@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Contact test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[987654321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>