<?xml version="1.0" encoding="utf-8"?>
<Content Key="87fedcfc-8589-47b0-aa36-88c8d7208085" Alias="2025-11-06 12:49 - Question Test" Level="102">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/[-20]/FormSubmissions/QuestionTest</Path>
    <Trashed Parent="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">true</Trashed>
    <ContentType>serviceQuestion</ContentType>
    <CreateDate>2025-11-06T12:49:07</CreateDate>
    <NodeName Default="2025-11-06 12:49 - Question Test" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceQuestionEmail>
      <Value><![CDATA[Question@test.com]]></Value>
    </serviceQuestionEmail>
    <serviceQuestionName>
      <Value><![CDATA[Question Test]]></Value>
    </serviceQuestionName>
    <serviceQuestionQuestion>
      <Value><![CDATA[2nd test to see if the updated model works]]></Value>
    </serviceQuestionQuestion>
  </Properties>
</Content>