<?xml version="1.0" encoding="utf-8"?>
<Content Key="c94f1094-8609-4ee3-af56-6fd668145c59" Alias="2025-11-03 15:13 - Test User" Level="2">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/FormSubmissions/TestUser</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-03T15:13:42</CreateDate>
    <NodeName Default="2025-11-03 15:13 - Test User" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@test.test]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test User]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>