<?xml version="1.0" encoding="utf-8"?>
<Content Key="c89ddc67-b779-400e-a121-f7b88a486189" Alias="2025-10-31 13:04 - Test User" Level="102">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/[-20]/FormSubmissions/TestUser</Path>
    <Trashed Parent="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:04:22</CreateDate>
    <NodeName Default="2025-10-31 13:04 - Test User" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test User]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>