<?xml version="1.0" encoding="utf-8"?>
<Content Key="1195a49a-6294-4623-92be-c1e44c38eb15" Alias="2025-10-31 13:05 - Second Test" Level="2">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/FormSubmissions/SecondTest</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:05:19</CreateDate>
    <NodeName Default="2025-10-31 13:05 - Second Test" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test2@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Second Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[1234598]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>