<?xml version="1.0" encoding="utf-8"?>
<Content Key="748467ff-3212-48b3-b3ef-c4e4c62fd7e5" Alias="2025-11-06 12:47 - Question Test" Level="2">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/FormSubmissions/QuestionTest</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceQuestion</ContentType>
    <CreateDate>2025-11-06T12:47:16</CreateDate>
    <NodeName Default="2025-11-06 12:47 - Question Test" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceQuestionEmail>
      <Value><![CDATA[Question@test.com]]></Value>
    </serviceQuestionEmail>
    <serviceQuestionName>
      <Value><![CDATA[Question Test]]></Value>
    </serviceQuestionName>
    <serviceQuestionQuestion>
      <Value><![CDATA[This is a test question to see if the endpoint works.]]></Value>
    </serviceQuestionQuestion>
  </Properties>
</Content>