<?xml version="1.0" encoding="utf-8"?>
<Content Key="04aaf8a9-215a-4665-ada4-e12a4396a414" Alias="About" Level="2">
  <Info>
    <Parent Key="c9c756a1-3154-4756-b957-856c49ca94d3">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-29T12:03:57</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1d22f85-1a14-43f8-b2cd-84c633f22f56">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
  </Properties>
</Content>