<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bab90e1-ce0a-4075-a076-1f4471bcfe72" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="6c59b598-cb78-4dbf-b9cf-d0df4577f02c">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T12:05:55</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e53b3ba-0da5-4cf5-89ea-6ac227ee6875">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailDescription>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1f9e1d67-13fb-4884-9b56-f0313ece4aee",
    "mediaKey": "c4e5f3b9-d958-4ba0-93f9-35540b70eb68",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>