<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bab90e1-ce0a-4075-a076-1f4471bcfe72" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="6c59b598-cb78-4dbf-b9cf-d0df4577f02c">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T12:05:55</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e53b3ba-0da5-4cf5-89ea-6ac227ee6875">ServiceDetail</Template>
  </Info>
  <Properties>
    <asideSections>
      <Value><![CDATA[]]></Value>
    </asideSections>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailDescription>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1f9e1d67-13fb-4884-9b56-f0313ece4aee",
    "mediaKey": "c4e5f3b9-d958-4ba0-93f9-35540b70eb68",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
    <underConstruction>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "22512d95-c173-46d1-9ade-5a3612b9a61d",
      "key": "95d6a216-f8f1-41b1-a31d-e5223e6a1ef5",
      "udi": null,
      "values": [
        {
          "alias": "constructionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 data-pm-slice=\u00220 0 []\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EPage under construction\u003C/span\u003E\u003Cbr\u003E\u003Cbr\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EPlease check back soon for more information about our services!\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "constructionLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Other Services",
              "target": null,
              "udi": "umb://document/6c59b598cb784dbfb9cfd0df4577f02c",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "95d6a216-f8f1-41b1-a31d-e5223e6a1ef5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "95d6a216-f8f1-41b1-a31d-e5223e6a1ef5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </underConstruction>
  </Properties>
</Content>