<?xml version="1.0" encoding="utf-8"?>
<Content Key="97676ce5-f7a5-4f5f-9440-474b1ce10dc8" Alias="Callback Request - 2025-11-07 09:53 - Contact Request-test" Level="2">
  <Info>
    <Parent Key="851696b4-8c4b-4d11-abbc-ad8e19400124">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/CallbackRequest202511070953ContactRequestTest</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-07T09:53:00</CreateDate>
    <NodeName Default="Callback Request - 2025-11-07 09:53 - Contact Request-test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Contact@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Contact Request-test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>