<?xml version="1.0" encoding="utf-8"?>
<Content Key="e28f132e-20e1-4128-9469-919b138b3932" Alias="Callback Request - 2025-11-07 09:51 - callback test" Level="2">
  <Info>
    <Parent Key="851696b4-8c4b-4d11-abbc-ad8e19400124">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/CallbackRequest202511070951CallbackTest</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-07T09:51:17</CreateDate>
    <NodeName Default="Callback Request - 2025-11-07 09:51 - callback test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[callback@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[callback test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>