<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1ce68c5-f18f-49c8-9e25-48a92952ca5d" Alias="Callback Request - 2025-11-06 12:51 - Harry Holmes" Level="102">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/[1139]/CallbackRequest202511061251HarryHolmes</Path>
    <Trashed>true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T12:51:20</CreateDate>
    <NodeName Default="Callback Request - 2025-11-06 12:51 - Harry Holmes" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Haza208@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Harry Holmes]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761083258]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>