<?xml version="1.0" encoding="utf-8"?>
<Content Key="d047779d-2e0e-470f-a4bf-09ce63a4dcb8" Alias="Callback Request - 2025-11-07 10:18 - Validation Callback" Level="2">
  <Info>
    <Parent Key="851696b4-8c4b-4d11-abbc-ad8e19400124">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/CallbackRequest202511071018ValidationCallback</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-07T10:18:24</CreateDate>
    <NodeName Default="Callback Request - 2025-11-07 10:18 - Validation Callback" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[validation@test.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Validation Callback]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>