<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d93711f-4971-4940-9383-8750ae69242e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c9c756a1-3154-4756-b957-856c49ca94d3">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T12:06:45</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f014ed86-3520-48ac-80d8-16d67a7d90a7">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "03fab283-e365-4ef9-94a7-4d1793ee364b",
      "key": "d2faeef2-58e2-415e-9068-f6c6c269730a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "534acdbc-4420-44ee-b0cb-e24b2db93998",
      "key": "a1ffad1a-cb83-494d-8cbb-66f5509d7f4f",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d2faeef2-58e2-415e-9068-f6c6c269730a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1ffad1a-cb83-494d-8cbb-66f5509d7f4f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d2faeef2-58e2-415e-9068-f6c6c269730a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a1ffad1a-cb83-494d-8cbb-66f5509d7f4f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>