<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d93711f-4971-4940-9383-8750ae69242e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c9c756a1-3154-4756-b957-856c49ca94d3">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T12:06:45</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f014ed86-3520-48ac-80d8-16d67a7d90a7">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "03fab283-e365-4ef9-94a7-4d1793ee364b",
      "key": "d2faeef2-58e2-415e-9068-f6c6c269730a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "534acdbc-4420-44ee-b0cb-e24b2db93998",
      "key": "a1ffad1a-cb83-494d-8cbb-66f5509d7f4f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ce4044ce-3bce-43e8-aa97-12d963489301",
      "key": "092d3aab-bdb3-4df9-bff5-805402dd0621",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactCallbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactCallbackBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactCallbackBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dfe4d0ff-fa40-46dc-8007-6a8ca60edec8",
              "mediaKey": "2e0e36d6-66b2-43ad-9ded-0bb2f2cfba06",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "97ba2b1e-133f-4848-a2d8-a09b3f378128",
      "key": "86f4cb71-1cb3-4686-b042-72be69dc491a",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Consulting\nBusiness\nTax Planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d2faeef2-58e2-415e-9068-f6c6c269730a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1ffad1a-cb83-494d-8cbb-66f5509d7f4f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "092d3aab-bdb3-4df9-bff5-805402dd0621",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d2faeef2-58e2-415e-9068-f6c6c269730a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "092d3aab-bdb3-4df9-bff5-805402dd0621",
        "contentUdi": null,
        "settingsKey": "86f4cb71-1cb3-4686-b042-72be69dc491a",
        "settingsUdi": null
      },
      {
        "contentKey": "a1ffad1a-cb83-494d-8cbb-66f5509d7f4f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>