<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d93711f-4971-4940-9383-8750ae69242e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c9c756a1-3154-4756-b957-856c49ca94d3">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T12:06:45</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f014ed86-3520-48ac-80d8-16d67a7d90a7">ContactPage</Template>
  </Info>
  <Properties />
</Content>