<?xml version="1.0" encoding="utf-8"?>
<Content Key="db2c76ce-af41-47e7-8ee8-efcdc7895382" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="6c59b598-cb78-4dbf-b9cf-d0df4577f02c">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T12:04:30</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e53b3ba-0da5-4cf5-89ea-6ac227ee6875">ServiceDetail</Template>
  </Info>
  <Properties>
    <asideSections>
      <Value><![CDATA[]]></Value>
    </asideSections>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailDescription>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8e0bb79e-c8f3-4536-83ea-9a86356488cb",
    "mediaKey": "390d85d3-8e90-43c1-aa2e-cdc3147118e8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
    <underConstruction>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "22512d95-c173-46d1-9ade-5a3612b9a61d",
      "key": "06be065b-f59b-416f-acda-e41e6d760106",
      "udi": null,
      "values": [
        {
          "alias": "constructionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EPage under construction\u003C/span\u003E\u003Cbr\u003E\u003Cbr\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EPlease check back soon for more information about our services!\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "constructionLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Other Services",
              "target": null,
              "udi": "umb://document/6c59b598cb784dbfb9cfd0df4577f02c",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "06be065b-f59b-416f-acda-e41e6d760106",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "06be065b-f59b-416f-acda-e41e6d760106",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </underConstruction>
  </Properties>
</Content>