<?xml version="1.0" encoding="utf-8"?>
<Content Key="75846c29-a19e-49b5-a6f1-3b4cb0385905" Alias="Projects" Level="2">
  <Info>
    <Parent Key="c9c756a1-3154-4756-b957-856c49ca94d3">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2025-10-29T12:06:55</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e354c1e8-144e-49b1-aff0-bd8b272496e8">ProjectsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "22512d95-c173-46d1-9ade-5a3612b9a61d",
      "key": "12f404c7-bc8e-406e-aba3-26d3aa20a71f",
      "udi": null,
      "values": [
        {
          "alias": "constructionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EPage under construction\u003C/span\u003E\u003Cbr\u003E\u003Cbr\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EPlease check back soon for more information about our projects!\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "12f404c7-bc8e-406e-aba3-26d3aa20a71f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "12f404c7-bc8e-406e-aba3-26d3aa20a71f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>