<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac24f8fe-b6bd-4b1f-bd43-106f46b63ecb" Alias="Question Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmissions</ContentType>
    <CreateDate>2025-11-07T09:49:09</CreateDate>
    <NodeName Default="Question Submissions" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>