<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7b2b5e7-8842-418a-ba7a-a192b6a18064" Alias="Question  - 2025-11-07 10:19 - Validation Question" Level="2">
  <Info>
    <Parent Key="ac24f8fe-b6bd-4b1f-bd43-106f46b63ecb">Question Submissions</Parent>
    <Path>/QuestionSubmissions/Question202511071019ValidationQuestion</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceQuestion</ContentType>
    <CreateDate>2025-11-07T10:19:24</CreateDate>
    <NodeName Default="Question  - 2025-11-07 10:19 - Validation Question" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceQuestionEmail>
      <Value><![CDATA[validation@test.com]]></Value>
    </serviceQuestionEmail>
    <serviceQuestionName>
      <Value><![CDATA[Validation Question]]></Value>
    </serviceQuestionName>
    <serviceQuestionQuestion>
      <Value><![CDATA[This is to test if the validation works now that I have separated the temp data]]></Value>
    </serviceQuestionQuestion>
  </Properties>
</Content>