<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d05e0f0-3fa9-4eba-ab52-50de0e97b210" Alias="Question  - 2025-11-07 09:52 - Question Test" Level="2">
  <Info>
    <Parent Key="ac24f8fe-b6bd-4b1f-bd43-106f46b63ecb">Question Submissions</Parent>
    <Path>/QuestionSubmissions/Question202511070952QuestionTest</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceQuestion</ContentType>
    <CreateDate>2025-11-07T09:52:25</CreateDate>
    <NodeName Default="Question  - 2025-11-07 09:52 - Question Test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceQuestionEmail>
      <Value><![CDATA[Question@test.com]]></Value>
    </serviceQuestionEmail>
    <serviceQuestionName>
      <Value><![CDATA[Question Test]]></Value>
    </serviceQuestionName>
    <serviceQuestionQuestion>
      <Value><![CDATA[This is to test if the new question submission page works]]></Value>
    </serviceQuestionQuestion>
  </Properties>
</Content>