<?xml version="1.0" encoding="utf-8"?>
<Content Key="c51a70a2-a61c-4144-9ae1-8ab52ed15d8c" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="6c59b598-cb78-4dbf-b9cf-d0df4577f02c">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T12:07:15</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e53b3ba-0da5-4cf5-89ea-6ac227ee6875">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailDescription>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "6fc5986c-be14-44cb-9214-edbcf80cf7a3",
    "mediaKey": "310ddbfe-f5dc-4db5-917e-a078cec571bf",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>