<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c59b598-cb78-4dbf-b9cf-d0df4577f02c" Alias="Services" Level="2">
  <Info>
    <Parent Key="c9c756a1-3154-4756-b957-856c49ca94d3">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T12:04:13</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0b4fa91-d6a1-4939-9e18-d4e5772f4f64">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>