<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7408453-ad56-42ac-a200-1af875d099aa" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T11:58:59</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <platformList>
      <Value><![CDATA[]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "0574b69a-c13b-409e-b873-06611265cb5a",
    "mediaKey": "fd5a98c4-f297-4181-87d7-34cd7dc056ab",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>