<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7408453-ad56-42ac-a200-1af875d099aa" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T11:58:59</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brandList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fc279192-eeb3-4e01-8a40-7468aa69b1f8",
      "key": "8a223c39-dcdd-4b4e-90be-c6b343823886",
      "udi": null,
      "values": [
        {
          "alias": "brandName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Freedombird"
        },
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "62053aba-7b9e-4db1-b3e0-5da9cfbc34b0",
              "mediaKey": "79917836-319c-4e81-8df6-0d3ed75eeb0e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fc279192-eeb3-4e01-8a40-7468aa69b1f8",
      "key": "7e44d215-d055-457e-a8d7-03d8aa8c2664",
      "udi": null,
      "values": [
        {
          "alias": "brandName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Identity"
        },
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a16222b7-6c5c-405a-bc25-91fb6aea7559",
              "mediaKey": "2459209c-88d0-4b2e-8f8c-11eff5c45266",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fc279192-eeb3-4e01-8a40-7468aa69b1f8",
      "key": "47aa3b76-2b1d-415c-95f6-aaa1ad87f4cb",
      "udi": null,
      "values": [
        {
          "alias": "brandName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Natural"
        },
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "042e3501-dc18-49dd-91bd-414f63e5c1dd",
              "mediaKey": "00c80f61-7d95-41c8-a322-c4145146cc0b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fc279192-eeb3-4e01-8a40-7468aa69b1f8",
      "key": "062c44b2-e50d-4b85-9fed-baaf2d6710c5",
      "udi": null,
      "values": [
        {
          "alias": "brandName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Simpleaf"
        },
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c75cc5a-5abb-4c6e-b9d7-abf0ce708d89",
              "mediaKey": "b49b1335-8514-4ea7-8086-c3bb77d3e86d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fc279192-eeb3-4e01-8a40-7468aa69b1f8",
      "key": "7e3171bd-1f39-4b5f-84fc-90f94e9a0ce3",
      "udi": null,
      "values": [
        {
          "alias": "brandName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Globe"
        },
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "107c2eec-2a73-4b87-bc86-eb09223bd934",
              "mediaKey": "78ebe1e0-ceb1-4e77-8ba3-7052929c0971",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fc279192-eeb3-4e01-8a40-7468aa69b1f8",
      "key": "6043a350-b95c-48c3-b556-3f95b0eaa96e",
      "udi": null,
      "values": [
        {
          "alias": "brandName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FossilGroup"
        },
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7986116b-7fe0-49f4-9da5-807302d4a04a",
              "mediaKey": "70855427-a53e-419c-903a-b5531a70fa3a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8a223c39-dcdd-4b4e-90be-c6b343823886",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e44d215-d055-457e-a8d7-03d8aa8c2664",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "47aa3b76-2b1d-415c-95f6-aaa1ad87f4cb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "062c44b2-e50d-4b85-9fed-baaf2d6710c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e3171bd-1f39-4b5f-84fc-90f94e9a0ce3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6043a350-b95c-48c3-b556-3f95b0eaa96e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8a223c39-dcdd-4b4e-90be-c6b343823886",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e44d215-d055-457e-a8d7-03d8aa8c2664",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "47aa3b76-2b1d-415c-95f6-aaa1ad87f4cb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "062c44b2-e50d-4b85-9fed-baaf2d6710c5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e3171bd-1f39-4b5f-84fc-90f94e9a0ce3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6043a350-b95c-48c3-b556-3f95b0eaa96e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </brandList>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0d47e7c0-6e7c-4b7a-b6c1-7569bf057a34",
      "key": "3d87bbfa-a1fa-4eda-9525-c36e5ec6c5a3",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    },
    {
      "contentTypeKey": "0d47e7c0-6e7c-4b7a-b6c1-7569bf057a34",
      "key": "35a7421c-e051-4839-bee6-aaa573831f0c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/home"
        }
      ]
    },
    {
      "contentTypeKey": "0d47e7c0-6e7c-4b7a-b6c1-7569bf057a34",
      "key": "8a5dab08-7056-4eb3-9bd7-bbe7d1271865",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://linkedin.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3d87bbfa-a1fa-4eda-9525-c36e5ec6c5a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35a7421c-e051-4839-bee6-aaa573831f0c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8a5dab08-7056-4eb3-9bd7-bbe7d1271865",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3d87bbfa-a1fa-4eda-9525-c36e5ec6c5a3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "35a7421c-e051-4839-bee6-aaa573831f0c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8a5dab08-7056-4eb3-9bd7-bbe7d1271865",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "0574b69a-c13b-409e-b873-06611265cb5a",
    "mediaKey": "fd5a98c4-f297-4181-87d7-34cd7dc056ab",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>