<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7408453-ad56-42ac-a200-1af875d099aa" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T11:58:59</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0d47e7c0-6e7c-4b7a-b6c1-7569bf057a34",
      "key": "3d87bbfa-a1fa-4eda-9525-c36e5ec6c5a3",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    },
    {
      "contentTypeKey": "0d47e7c0-6e7c-4b7a-b6c1-7569bf057a34",
      "key": "35a7421c-e051-4839-bee6-aaa573831f0c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/home"
        }
      ]
    },
    {
      "contentTypeKey": "0d47e7c0-6e7c-4b7a-b6c1-7569bf057a34",
      "key": "8a5dab08-7056-4eb3-9bd7-bbe7d1271865",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://linkedin.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3d87bbfa-a1fa-4eda-9525-c36e5ec6c5a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35a7421c-e051-4839-bee6-aaa573831f0c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8a5dab08-7056-4eb3-9bd7-bbe7d1271865",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3d87bbfa-a1fa-4eda-9525-c36e5ec6c5a3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "35a7421c-e051-4839-bee6-aaa573831f0c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8a5dab08-7056-4eb3-9bd7-bbe7d1271865",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "0574b69a-c13b-409e-b873-06611265cb5a",
    "mediaKey": "fd5a98c4-f297-4181-87d7-34cd7dc056ab",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>