<?xml version="1.0" encoding="utf-8"?>
<Content Key="efe41a53-8d44-461e-be8c-5eecb5cc9f43" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="6c59b598-cb78-4dbf-b9cf-d0df4577f02c">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T12:02:36</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e53b3ba-0da5-4cf5-89ea-6ac227ee6875">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailDescription>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "154a7857-8c7b-4129-9caa-ce73e12b4f97",
    "mediaKey": "4915689b-000b-4091-addc-a0799bcac9e0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>