<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9446fed-13f2-496b-94c9-3ff492ce6206" Alias="Support - 2025-11-06 14:43 - validation@test.com" Level="102">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/[1139]/Support202511061443ValidationTestcom</Path>
    <Trashed>true</Trashed>
    <ContentType>onlineSupport</ContentType>
    <CreateDate>2025-11-06T14:43:19</CreateDate>
    <NodeName Default="Support - 2025-11-06 14:43 - validation@test.com" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <onlineSupportEmail>
      <Value><![CDATA[validation@test.com]]></Value>
    </onlineSupportEmail>
  </Properties>
</Content>