<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d3e3f7e-0451-44a4-b420-143d1891fcad" Alias="Support Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SupportSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmissions</ContentType>
    <CreateDate>2025-11-07T09:49:23</CreateDate>
    <NodeName Default="Support Submissions" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>