<?xml version="1.0" encoding="utf-8"?>
<Content Key="686c069a-f8b5-40ad-8ce6-ce885d5bda04" Alias="Support - 2025-11-07 10:19 - validation@test.com" Level="2">
  <Info>
    <Parent Key="0d3e3f7e-0451-44a4-b420-143d1891fcad">Support Submissions</Parent>
    <Path>/SupportSubmissions/Support202511071019ValidationTestcom</Path>
    <Trashed>false</Trashed>
    <ContentType>onlineSupport</ContentType>
    <CreateDate>2025-11-07T10:19:00</CreateDate>
    <NodeName Default="Support - 2025-11-07 10:19 - validation@test.com" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <onlineSupportEmail>
      <Value><![CDATA[validation@test.com]]></Value>
    </onlineSupportEmail>
  </Properties>
</Content>