<?xml version="1.0" encoding="utf-8"?>
<Content Key="69938aee-4e18-4d16-91f1-8d77af175412" Alias="Support - 2025-11-06 14:41 - test@domain.com" Level="102">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/[1139]/Support202511061441TestDomaincom</Path>
    <Trashed>true</Trashed>
    <ContentType>onlineSupport</ContentType>
    <CreateDate>2025-11-06T14:41:13</CreateDate>
    <NodeName Default="Support - 2025-11-06 14:41 - test@domain.com" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <onlineSupportEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </onlineSupportEmail>
  </Properties>
</Content>