<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9446fed-13f2-496b-94c9-3ff492ce6206" Alias="Support - 2025-11-06 14:43 - validation@test.com" Level="2">
  <Info>
    <Parent Key="535b4a66-e81d-43ab-8f7b-abb11c07c6c4">Form Submissions</Parent>
    <Path>/FormSubmissions/Support202511061443ValidationTestcom</Path>
    <Trashed>false</Trashed>
    <ContentType>onlineSupport</ContentType>
    <CreateDate>2025-11-06T14:43:19</CreateDate>
    <NodeName Default="Support - 2025-11-06 14:43 - validation@test.com" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <onlineSupportEmail>
      <Value><![CDATA[validation@test.com]]></Value>
    </onlineSupportEmail>
  </Properties>
</Content>