<?xml version="1.0" encoding="utf-8"?>
<Content Key="14f75558-e980-4b6c-819d-beba5fd0bce9" Alias="Tax &amp; Trusts" Level="3">
  <Info>
    <Parent Key="6c59b598-cb78-4dbf-b9cf-d0df4577f02c">Services</Parent>
    <Path>/Onatrix/Services/TaxTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T12:05:23</CreateDate>
    <NodeName Default="Tax &amp; Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e53b3ba-0da5-4cf5-89ea-6ac227ee6875">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax & Trusts]]></Value>
    </pageTitle>
    <serviceDetailDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailDescription>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "5576b799-e2dc-4319-8719-7a8d4cbe7e35",
    "mediaKey": "aa770a5c-5679-4872-af84-3fd9cfb72866",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>