<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a9c1fa2-5f9c-415a-86dd-e535203f3a97" Alias="Onatrix Sections" Level="1">
  <Info>
    <Name>Onatrix Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "168a35ef-bcf0-4c14-ba21-3d7821fe47b4"
    },
    {
      "contentElementTypeKey": "107f1275-4c71-48d7-95a9-541c28316cd2",
      "settingsElementTypeKey": "48c62284-6f4d-47bc-95e7-1d1f4246fd1a"
    },
    {
      "contentElementTypeKey": "a1b192d5-c1ce-4c30-bb45-1a6c973509dc"
    },
    {
      "contentElementTypeKey": "6ef6da58-1fdc-4b77-8dd8-34c9f731712c",
      "settingsElementTypeKey": "97ba2b1e-133f-4848-a2d8-a09b3f378128"
    },
    {
      "contentElementTypeKey": "03fab283-e365-4ef9-94a7-4d1793ee364b"
    },
    {
      "contentElementTypeKey": "bd499a0d-1d68-438f-8da6-890f39d3b94f"
    },
    {
      "contentElementTypeKey": "57e56d86-a3d1-4a0a-a225-f52a21e497b5"
    }
  ]
}]]></Config>
</DataType>