<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a9c1fa2-5f9c-415a-86dd-e535203f3a97" Alias="Onatrix Sections" Level="1">
  <Info>
    <Name>Onatrix Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "168a35ef-bcf0-4c14-ba21-3d7821fe47b4"
    },
    {
      "contentElementTypeKey": "107f1275-4c71-48d7-95a9-541c28316cd2",
      "settingsElementTypeKey": "48c62284-6f4d-47bc-95e7-1d1f4246fd1a"
    }
  ]
}]]></Config>
</DataType>