<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a9c1fa2-5f9c-415a-86dd-e535203f3a97" Alias="Onatrix Sections" Level="1">
  <Info>
    <Name>Onatrix Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "168a35ef-bcf0-4c14-ba21-3d7821fe47b4"
    }
  ]
}]]></Config>
</DataType>