<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3c32217-5c6c-4f24-8e62-5caa8f57de5c" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9706ef07-146c-4b8f-82d5-759043831fcd"
    }
  ]
}]]></Config>
</DataType>