<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2163ad97-296a-42e8-8c6f-6e110e6b0de4" Alias="Service Detail - Asides - Sections" Level="1">
  <Info>
    <Name>Service Detail - Asides - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "407ee062-2c4c-42c0-8974-538a2c209c5b"
    }
  ]
}]]></Config>
</DataType>