<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27f97093-f34a-4160-802c-a2142ec7d3bc" Alias="Site Settings - Brand List" Level="1">
  <Info>
    <Name>Site Settings - Brand List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fc279192-eeb3-4e01-8a40-7468aa69b1f8",
      "label": "{umbValue: brandName}"
    }
  ]
}]]></Config>
</DataType>