<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2fea131e-5a6a-440e-ab75-ada9cfcd09d0" Alias="Site Settings - Social Media List" Level="1">
  <Info>
    <Name>Site Settings - Social Media List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0d47e7c0-6e7c-4b7a-b6c1-7569bf057a34",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>