<?xml version="1.0" encoding="utf-8"?>
<DataType Key="894393ec-0143-4823-b76c-edd27a5f15bb" Alias="Success Story List" Level="1">
  <Info>
    <Name>Success Story List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "834a1b3c-d9e3-47e5-84d9-19cc07808af9"
    }
  ]
}]]></Config>
</DataType>