<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45da8696-f8e2-4ec6-ae8a-0539535736bf" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9dd42120-71c3-476c-a7cd-281adbb82ccc",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>