<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74f2cd5f-420b-423c-b814-52fa61448a89" Alias="Under Construction - Sections" Level="1">
  <Info>
    <Name>Under Construction - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "22512d95-c173-46d1-9ade-5a3612b9a61d"
    }
  ]
}]]></Config>
</DataType>